@model CouncilServices.Models.CustomersSortPageVM

@{
    ViewBag.Title = "Queued Service Requests";
}

<h3>@ViewBag.Title</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Service", "Index", new
            {
                sortBy = Model.Service,
                sortOrder = Model.SortOrder,
                page = Model.Page
            })
            @*@Html.DisplayNameFor(model => model.CustomerHeadings.Service)*@
        </th>
        <th>
            @Html.ActionLink("CustomerType", "Index", new
            {
                sortBy = Model.CustomerType,
                sortOrder = Model.SortOrder,
                page = Model.Page
            })
            @*@Html.DisplayNameFor(model => model.CustomerHeadings.CustomerType)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerHeadings.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerHeadings.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerHeadings.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerHeadings.Organisation)
        </th>
        <th>
            @Html.ActionLink("QueuedAt", "Index", new
            {
                sortBy = Model.QueuedAt,
                sortOrder = Model.SortOrder,
                page = Model.Page
            })
            @*@Html.DisplayNameFor(model => model.CustomerHeadings.QueuedAt)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Customers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organisation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QueuedAt)
        </td>
        @if (Model.IsAdmin)
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        }
    </tr>
}

</table>

<ul class="pagination">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li class="@(i==Model.Page?"active":"pagination")">
            @Html.ActionLink(i.ToString() + " ", "Index", new
       {
           sortBy = Model.SortBy,
           sortOrder = Model.SortOrderPage,
           page = i
       })
        </li>
    }
</ul>